
<div class="box col-md-12">
  <div class="box-inner col-md-6 col-md-offset-5">
    <h1 class="title">拉祜山</h1>
    <p class="lead">
      <%= link_to '寻山珍', products_path, class: 'btn btn-danger btn-lg' %>
    </p>
  </div>
</div>

<div class="content-section">
<div class="container">
 <div class="row">
   <div class="col-md-4 col-xs-12">
     <div class="content-section-pic">
       <img src="https://ooo.0o0.ooo/2017/05/22/592283186be8d.jpeg" class="img-circle">
       <div class="caption">
         <h2><strong>有一种茶叫螃蟹脚</strong></h2>
       </div>
     </div>
   </div>
   <div class="col-md-4 col-xs-12">
     <div class="content-section-pic">
       <img src="https://ooo.0o0.ooo/2017/05/22/59228459545c9.jpeg" class="img-circle">
       <div class="caption">
         <h2><strong>有一种海叫云海</strong></h2>
     </div>
   </div>
 </div>
   <div class="col-md-4 col-xs-12">
     <div class="content-section-pic">
       <img src="https://ooo.0o0.ooo/2017/05/22/59228548bbbf1.jpeg" class="img-circle">
       <div class="caption">
         <h2><strong>有一种乐器叫芦笙</strong></h2>
       </div>
     </div>
   </div>
 </div>
</div>
</div>


    <!--<div class="content-section-a">
      <div class="container">
        <div class="row">
          <div class="col-lg-5 col-sm-6">
            <hr class="section-heading-spacer">
            <div class="clearfix">SSS</div>
            <h2 class="section-heading">好水</h2>
            <p class="lead">SSS</p>
          </div>
          <div class="col-lg-5 col-lg-offset-2 col-sm-6">
            <%= image_tag 'pic-1.jpg', class: 'img-responsive' %>
          </div>
        </div>
      </div>
    </div>

  <div class="content-section-b">
      <div class="container">
        <div class="row">
          <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
            <hr class="section-heading-spacer">
            <div class="clearfix"></div>
            <h2 class="section-heading">好山</h2>
            <p class="lead">SSS</p>
          </div>
          <div class="col-lg-5 col-sm-pull-6  col-sm-6">
            <%= image_tag 'pic-6.jpg', class: 'img-responsive' %>
          </div>
        </div>
      </div>
    </div>

    <div class="content-section-a">
      <div class="container">
        <div class="row">
          <div class="col-lg-5 col-sm-6">
            <hr class="section-heading-spacer">
            <div class="clearfix">SSS</div>
            <h2 class="section-heading">好品质</h2>
            <p class="lead">SS</p>
          </div>
          <div class="col-lg-5 col-lg-offset-2 col-sm-6">
            <%= image_tag 'pic-3.jpg', class: 'img-responsive' %>
          </div>
        </div>
      </div>
    </div>-->

    <!-- 轮播图
    <div class="content-section-c">
    <div id="myCarousel" class="carousel slide">
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
     </ol>
     <div class="carousel-inner">
        <div class="item active">
         <a href="javascript:;">
          <img src="https://ooo.0o0.ooo/2017/05/21/592075a7a571e.png" alt="mmexport1494312512566.png" title="mmexport1494312512566.png" />
          <div class="carousel-caption"></div>
         </a>
        </div>
        <div class="item">
         <a href="javascript:;">
          <img src="https://ooo.0o0.ooo/2017/05/21/592075a819908.png" alt="mmexport1494312531611.png" title="mmexport1494312531611.png" />
          <div class="carousel-caption"></div>
         </a>
        </div>
        <div class="item">
         <a href="javascript:;">
          <img src="https://ooo.0o0.ooo/2017/05/22/592280f2408b0.jpg" alt="mmexport1494312510312.png" title="mmexport1494312510312.png" />
          <div class="carousel-caption"></div>
         </a>
        </div>
      </div>
    </div>
    </div>
  </div>-->
