<<<<<<< HEAD
<div class="box col-md-12">
      <div class="box-inner col-md-6 col-md-offset-3">
        <h1 class="title">18K Offer</h1>
        <p class="slogan">18K Offer 是一个提供18K薪水工作机会的求职网站。
          <br>
          我们希望借由这个网站，能让大家找到且应征上高薪且优质的工作。
          <br>
          凭借自己的努力和天份也会变 Winner
        </p>
=======
  <div class="box col-md-12">
      <div class="box-inner col-md-6 col-md-offset-5">
        <h1 class="title">拉祜山</h1>
>>>>>>> 2980f39b440fff93a72eb6c88a1a543dc2433513
        <p class="lead">
          <%= link_to '寻山珍', products_path, class: 'btn btn-danger btn-lg' %>
        </p>
      </div>
    </div>

  <div class="content-section">
    <div class="container">
     <div class="row">
       <div class="col-md-4 col-xs-12">
         <div class="content-section-pic">
           <img src="https://ooo.0o0.ooo/2017/05/22/5922006be2741.jpg" class="img-circle">
           <div class="caption">
             <h2><strong>生态可持续发展思维</strong></h2>
           </div>
         </div>
       </div>
       <div class="col-md-4 col-xs-12">
         <div class="content-section-pic">
           <img src="https://ooo.0o0.ooo/2017/05/22/5922006be3610.jpg" class="img-circle">
           <div class="caption">
             <h2><strong>农产品开发销售经验</strong></h2>
         </div>
       </div>
     </div>
       <div class="col-md-4 col-xs-12">
         <div class="content-section-pic">
           <img src="https://ooo.0o0.ooo/2017/05/22/5922006be2741.jpg" class="img-circle">
           <div class="caption">
             <h2><strong>旅游服务业从业经验</strong></h2>
           </div>
         </div>
       </div>
     </div>
    </div>
   </div>


  <div class="content-section-a">
      <div class="container">
        <div class="row">
          <div class="col-lg-5 col-sm-6">
            <hr class="section-heading-spacer">
            <div class="clearfix">SSS</div>
            <h2 class="section-heading">SSS</h2>
            <p class="lead">SSS</p>
          </div>
          <div class="col-lg-5 col-lg-offset-2 col-sm-6">
            <%= image_tag 'pic-1.jpg', class: 'img-responsive' %>
          </div>
        </div>
      </div>
    </div>

    <div class="content-section-b">
      <div class="container">
        <div class="row">
          <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
            <hr class="section-heading-spacer">
            <div class="clearfix">SSS</div>
            <h2 class="section-heading">SSS</h2>
            <p class="lead">SSS</p>
          </div>
          <div class="col-lg-5 col-sm-pull-6  col-sm-6">
            <%= image_tag 'pic-6.jpg', class: 'img-responsive' %>
          </div>
        </div>
      </div>
    </div>

    <div class="content-section-a">
      <div class="container">
        <div class="row">
          <div class="col-lg-5 col-sm-6">
            <hr class="section-heading-spacer">
            <div class="clearfix">SSS</div>
            <h2 class="section-heading">SS</h2>
            <p class="lead">SS</p>
          </div>
          <div class="col-lg-5 col-lg-offset-2 col-sm-6">
            <%= image_tag 'pic-3.jpg', class: 'img-responsive' %>
          </div>
        </div>
      </div>
    </div>

    <!-- 轮播图 -->
    <div class="content-section-c">
    <div id="myCarousel" class="carousel slide">
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
     </ol>
     <div class="carousel-inner">
        <div class="item active">
         <a href="javascript:;">
          <img src="https://ooo.0o0.ooo/2017/05/21/592075a7a571e.png" alt="mmexport1494312512566.png" title="mmexport1494312512566.png" />
          <div class="carousel-caption"></div>
         </a>
        </div>
        <div class="item">
         <a href="javascript:;">
          <img src="https://ooo.0o0.ooo/2017/05/21/592075a819908.png" alt="mmexport1494312531611.png" title="mmexport1494312531611.png" />
          <div class="carousel-caption"></div>
         </a>
        </div>
        <div class="item">
         <a href="javascript:;">
          <img src="https://ooo.0o0.ooo/2017/05/21/592075b13e30c.png" alt="mmexport1494312510312.png" title="mmexport1494312510312.png" />
          <div class="carousel-caption"></div>
         </a>
        </div>
      </div>
    </div>
    </div>
  </div>
