

            <div class="col-md-12">
                    <div class="row box">
                     <div class="box-inner col-xs-12 col-md-6 col-md-offset-4">
                      <h1 class="title">野阔</h1>
                      <p class="slogan">拉祜山</p>
                      <p class="lead">
                        <%= link_to '寻山珍', products_path, class: 'btn btn-danger btn-lg', id:"lead-submit" %>
                      </p>
                     </div>
                   </div>
            </div>


        <div class="container content-section">
                    <div class="row">
                        <div class="col-md-4">

                              <h2 class="content-section-title">一种茶叫螃蟹脚</h2>

                              <img src="https://ws4.sinaimg.cn/large/006tNbRwgy1ffzyi9lqimj30ji0d2wfp.jpg" class="img-rounded" alt="Cinque Terre" width="304" height="236">
                              <p class="content-section-slogan"> 寄生古树茶 稀有而珍贵 </p>
                          </div>

                        <div class="col-md-4">

                              <h2 class="content-section-title">一种广阔叫云海</h2>

                              <img src="https://ws1.sinaimg.cn/large/006tNbRwgy1ffzxvn9o5zj30jj0d10w3.jpg" class="img-rounded" alt="Cinque Terre" width="304" height="236">
                              <p class="content-section-slogan"> 烟雾缭绕中 古村依势建 </p>
                      </div>
                        <div class="col-md-4">

                              <h2 class="content-section-title">一种乐器叫芦笙</h2>

                              <img src="https://ws1.sinaimg.cn/large/006tNbRwgy1ffzyjge3dhj30ji0d241t.jpg" class="img-rounded" alt="Cinque Terre" width="304" height="236">
                              <p class="content-section-slogan">悠悠澜沧江 阵阵芦笙恋 </p>
                          </div>
                        </div>




















        <!-- <div class="row">
                   <div class="col-md-4">

                         <h2>Circle</h2>
                         <p> Circle to an image </p>
                         <img src="http://personaproject.martinprosperity.org/wp-content/themes/personaproject/images/personas/kira/kira_face_m.jpg" class="img-circle" alt="Cinque Terre" width="304" height="236">
                     </div>

                   <div class="col-md-4">

                         <h2>Circle</h2>
                         <p>Circle to an image </p>
                         <img src="http://personaproject.martinprosperity.org/wp-content/themes/personaproject/images/personas/kira/kira_face_m.jpg" class="img-circle" alt="Cinque Terre" width="304" height="236">
                     </div>

                   <div class="col-md-4">

                         <h2>Circle</h2>
                         <p>Circle to an image </p>
                         <img src="http://personaproject.martinprosperity.org/wp-content/themes/personaproject/images/personas/kira/kira_face_m.jpg" class="img-circle" alt="Cinque Terre" width="304" height="236">

                   </div>
               </div>
   </div>







<div class="content-section-a">
      <div class="container">
        <div class="row">
          <div class="col-lg-5 col-sm-6">
            <hr class="section-heading-spacer">
            <div class="clearfix">SSS</div>
            <h2 class="section-heading">好水</h2>
            <p class="lead">SSS</p>
          </div>
          <div class="col-lg-5 col-lg-offset-2 col-sm-6">
            <%= image_tag 'pic-1.jpg', class: 'img-responsive' %>
          </div>
        </div>
      </div>
    </div>

  <div class="content-section-b">
      <div class="container">
        <div class="row">
          <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
            <hr class="section-heading-spacer">
            <div class="clearfix"></div>
            <h2 class="section-heading">好山</h2>
            <p class="lead">SSS</p>
          </div>
          <div class="col-lg-5 col-sm-pull-6  col-sm-6">
            <%= image_tag 'pic-6.jpg', class: 'img-responsive' %>
          </div>
        </div>
      </div>
    </div>

    <div class="content-section-a">
      <div class="container">
        <div class="row">
          <div class="col-lg-5 col-sm-6">
            <hr class="section-heading-spacer">
            <div class="clearfix">SSS</div>
            <h2 class="section-heading">好品质</h2>
            <p class="lead">SS</p>
          </div>
          <div class="col-lg-5 col-lg-offset-2 col-sm-6">
            <%= image_tag 'pic-3.jpg', class: 'img-responsive' %>
          </div>
        </div>
      </div>
    </div>-->
