/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "font-awesome";
 @import "bootstrap-wysihtml5/bootstrap3-wysihtml5";                       //文本编辑器的支持样式
 @import url('https://fonts.googleapis.com/earlyaccess/notosanssc.css');   //引入google思源黑简在线字体 需要使用VPN才可生效

 //--- Footer always on the bottom---
 html {
    position: relative;
    min-height: 100%;
  }

  body {

    padding-top: 80px;                                  // 腾出navbar的遮挡空间
    font-family: 'Noto Sans SC', sans-serif;            // google思源黑简作为主字体
    color: #666;                                        // 修改全站的 字体主色
    font-size: 1.5em;                                   // 网站所有字体缩小比例
   a {                                                 // 所有a标签统一样式
     color: #666;                                      // 链接反转的样式
     transition: 0.5s;                                 // 鼠标移开时 0.5秒渐变
   }
   a:hover {
     color: #FF6F00;
     transition: 0.5s;                                 // 鼠标指向时 0.5面渐变
     text-decoration: none;                            // 移除下划线
   }
  }


 //---------Navbar---------
  .navbar-style {
    height: 80px;
    background-color: #EAEAEA;
    border-color: transparent;                          //边框颜色设置为 透明
  }

  .navbar-brand {

      line-height: 50px;
      letter-spacing: 0.5em;                      //拉开一点点字间距
      font-weight:lighter;                        //字体粗细比默认样式缩小100磅值，让logo显得精致高级

  }

  .navbar-brand:hover,
  .navbar-brand:focus {
      color: #FF6F00;
      background-color: transparent;
  }

  .navbar-default .navbar-nav > li > a {
   padding: 25px 20px;
  }

  .navbar-default .navbar-nav > li > a:hover,
  .navbar-default .navbar-nav > li > a:focus {
      color: #FF6F00;
      background-color: transparent;
  }

  .navbar-default .navbar-nav > .active > a,
  .navbar-default .navbar-nav > .active > a:hover,
  .navbar-default .navbar-nav > .active > a:focus {
      color: #FF6F00;
      background-color: #212121;
  }

   .navbar-collapse {
     background: #EAEAEA;
   }

//---------Box---------


  .box {
        background-image: image-url("header1.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        margin-bottom: 200px;
        padding-bottom: 100px;
        padding-top: 10px;
  }

  .box-inner {
      background-color: rgba(250, 250, 250, 0.69);
      padding-bottom: 5px;
      margin-top: 300px;
      margin-bottom: 300px;
      width: 400px;
      border-radius: 20px;

  }

  .title {
      text-align: center;
      margin-bottom: 80px;
      letter-spacing: 0.5em;                              //拉开一点点字间距
      font-weight:lighter;                                //字体粗细比默认样式缩小100磅值，让logo显得精致高级
      font-size: 3.0em;
      color: #d76363;
      line-height: 50px;
  }

  .slogan {
           color: #222;
           margin-top: 10px;
           margin-bottom: 50px;
           text-align: center;
           font-size: 25px;
           top: 12px;
       }


  .lead {
      margin-bottom: 60px;
      text-align: center;
      color: white;
  }


  //---------Content---------
  .content-section {
   background-color: #EAEAEA;
   padding-bottom: 500px;

  }

  .content-section-pic {
    border-color: #EAEAEA;
    background-color: #EAEAEA;
    text-align: center;


  }
  .content-section-pic img{
    width: 70%;
  }

  .caption{
  margin-top: 40px;
  font-size: 25px;
  }

  .content-section-a {
      padding: 200px 0;
      background-color: #EAEAEA;
      border-top: 1px solid #D3D4D8;
  }

  .content-section-b {
      background-color: #EAEAEA;
      padding: 200px 0;
      border-top: 1px solid #D3D4D8;
      border-bottom: 1px solid #D3D4D8;
  }

  .section-heading-spacer {
      float: left;
      width: 200px;

  }

  .section-heading {
      margin-bottom: 30px;
  }

  .lead {
      font-size: 18px;
      font-weight: 400;
  }

  /*轮播图*/
  .content-section-c {
    background-color: #EAEAEA;
    border-top: 1px solid #D3D4D8;
  }
  .carousel {
    width: 750px;
    margin: 0 auto;

  }
  .carousel .item {
    height: 375px;

  }


  //---------Footer---------

  .footer-style {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 170px;
    background-color: #EAEAEA;
    }

    p {
      color: #212121;
      margin-top: 30px;
    }

   //---back to top---
    #gotop {
  width: 50px;
  height: 50px;
  position: fixed;
  right: 20px;
  bottom: 20px;
  background: none;
  cursor: pointer;
  display: none; /*默认先隐藏掉*/
  }

  //--- 登录页面  ----
  .log-page-bg {
    height: 1200px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url(https://ooo.0o0.ooo/2017/05/24/59250bb49d5a9.jpg)
    }

   .log-page {

    margin-top: 100px;
    color: #03151e;
    font-size: 20px;
    background-color: rgba(250, 250, 250, 0.69);//transparent;//背景颜色含透明度
    border-radius: 10px;
    padding-left: 40px;
    padding-right: 40px;
    }

    .form-inputs {

    margin-bottom: 0px;//这样就可以紧接息面的描述文字
    border-radius: 10px;
    padding-bottom: 10px;

    }

    .restfont{
    padding-bottom: 20px;
    }



    //---搜索--
    #custom-search-input {
        padding: 1px;
        border: solid 2px #e5e4e4;
        border-radius: 3px;
        background-color: #fff;
        margin-top: 9px;

    }

    #custom-search-input input {
        border: 0;
        box-shadow: none
    }

    #custom-search-input button {
        margin: 2px 0;
        background: none;
        box-shadow: none;
        border: 0;
        color: #666666;
        padding: 0 8px 0 10px;
        border-left: solid 1px #ccc
    }

    #custom-search-input button:hover {
        border: 0;
        box-shadow: none;
        border-left: solid 1px #ccc
    }

    #custom-search-input .glyphicon-search {
        font-size: 15px
    }

    /* 购物车*/

    .fa-shopping-cart {
      color: #131418; /*红色图标*/
      margin-right: 10px; /*右边距*/
    }
