/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "font-awesome";
 @import url('https://fonts.googleapis.com/earlyaccess/notosanssc.css');   //引入google思源黑简在线字体 需要使用VPN才可生效

 //--- Footer always on the bottom---
 html {
    position: relative;
    min-height: 100%;
  }

  body {
    margin-bottom: 160px;
    min-height: 100%;                                   // footer固定底部
    font-family: 'Noto Sans SC', sans-serif;            // google思源黑简作为主字体
    color: #666;                                        // 修改全站的 字体主色
    font-size: 1.5em;                                   // 网站所有字体缩小比例
   a {                                                 // 所有a标签统一样式
     color: #666;                                      // 链接反转的样式
     transition: 0.5s;                                 // 鼠标移开时 0.5秒渐变
   }
   a:hover {
     color: #7f8c8d;
     transition: 0.5s;                                 // 鼠标指向时 0.5面渐变
     text-decoration: none;                            // 移除下划线
   }
  }



 //---------Navbar---------
  .navbar {
    height: 80px;
  }
  .navbar-default {

      background-color: #EAEAEA;
      border-color: #EAEAEA;
      margin-bottom: 0;
      border-radius: 0;
  }

  .navbar-default .navbar-brand {
      color: #212121;
      padding: 10px 15px;
      line-height: 30px;

  }

  .navbar-default .navbar-brand:hover,
  .navbar-default .navbar-brand:focus {
      color: #FF6F00;
      background-color: transparent;
  }

  .navbar-default .navbar-nav > li > a {
      color: #212121;
  }

  .navbar-default .navbar-nav > li > a:hover,
  .navbar-default .navbar-nav > li > a:focus {
      color: #FF6F00;
      background-color: transparent;
  }

  .navbar-default .navbar-nav > .active > a,
  .navbar-default .navbar-nav > .active > a:hover,
  .navbar-default .navbar-nav > .active > a:focus {
      color: #FF6F00;
      background-color: #212121;
  }

  .navbar-default .navbar-nav > .open > a,
  .navbar-default .navbar-nav > .open > a:focus,
  .navbar-default .navbar-nav > .open > a:hover {
      background-color: #F2F9F1;
      color: #212121;
  }


//---------Box---------


  .box {
        background-image: image-url("header1.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        margin-bottom: 200px;
  }

  .box-inner {
      background-color: rgba(250, 250, 250, 0.69);
      padding-bottom: 5px;
      margin-top: 300px;
      margin-bottom: 300px;
      width: 300px;
      border-radius: 20px;

  }

  .title {
      text-align: center;
      margin-bottom: 80px;
  }

  .slogan {
           color: #222;
           margin-top: 10px;
           margin-bottom: 50px;
           text-align: center;
           font-size: 25px;
           top: 12px;
       }


  .lead {
      margin-bottom: 60px;
      text-align: center;
      color: white;
  }


  //---------Content---------
  .content-section {
   background-color: #EAEAEA;
   padding-bottom: 500px;

  }

  .content-section-pic {
    border-color: #EAEAEA;
    background-color: #EAEAEA;
    text-align: center;


  }
  .content-section-pic img{
    width: 70%;
  }

  .caption{
  margin-top: 40px;
  font-size: 25px;
  }

  .content-section-a {
      padding: 200px 0;
      background-color: #EAEAEA;
      border-top: 1px solid #D3D4D8;
  }

  .content-section-b {
      background-color: #EAEAEA;
      padding: 200px 0;
      border-top: 1px solid #D3D4D8;
      border-bottom: 1px solid #D3D4D8;
  }

  .section-heading-spacer {
      float: left;
      width: 200px;

  }

  .section-heading {
      margin-bottom: 30px;
  }

  .lead {
      font-size: 18px;
      font-weight: 400;
  }

  /*轮播图*/
  .content-section-c {
    background-color: #EAEAEA;
    border-top: 1px solid #D3D4D8;
  }
  .carousel {
    width: 750px;
    margin: 0 auto;

  }
  .carousel .item {
    height: 375px;

  }


  //---------Footer---------

  .footer-style {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 160px;
    background-color: #EAEAEA;
    }

    p {
      color: #212121;
      margin-top: 30px;
    }

    #gotop {
  width: 50px;
  height: 50px;
  position: fixed;
  right: 20px;
  bottom: 20px;
  background: none;
  cursor: pointer;
  display: none; /*默认先隐藏掉*/
}
