/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "font-awesome";
 @import "bootstrap-wysihtml5/bootstrap3-wysihtml5";                       //文本编辑器的支持样式
 @import url('https://fonts.googleapis.com/earlyaccess/notosanssc.css');   //引入google思源黑简在线字体 需要使用VPN才可生效

 //--- Footer always on the bottom---
 html {
    position: relative;
    min-height: 100%;
  }

  body {
    padding-top: 80px;
    padding-bottom: 450px;                                  // 腾出navbar的遮挡空间
    font-family: 'Noto Sans SC', sans-serif;            // google思源黑简作为主字体
    color: #666;                                        // 修改全站的 字体主色
    font-size: 1.5em;
    background-color: #EAEAEA;                                  // 网站所有字体缩小比例
   a {                                                 // 所有a标签统一样式
     color: #666;                                      // 链接反转的样式
     transition: 0.5s;                                 // 鼠标移开时 0.5秒渐变
   }
   a:hover {
     color: #7f8c8d;
     transition: 0.5s;                                 // 鼠标指向时 0.5面渐变
     text-decoration: none;                            // 移除下划线
   }
  }


 //---------Navbar---------
 .navbar-style {
    height: 80px;
    background-color: #57584f;
    border-color: transparent;                          //边框颜色设置为 透明
  }

  .navbar-default .navbar-brand {
      color: #EAEAEA;
   }

   .navbar-brand {
     line-height: 60px;
     letter-spacing: 0.5em;                      //拉开一点点字间距
     font-weight: lighter;;                        //字体粗细比默认样式缩小100磅值，让logo显得精致高级
     padding-left: 60px;
     font-size: 3em;
   }

   .navbar-default .navbar-brand:hover,
   .navbar-default .navbar-brand:focus {
     color: #FF6F00;
     background-color: transparent;
   }
  .navbar-default .navbar-nav > li > a {
   padding: 26px 46px;
   color: #EAEAEA;
  }

  .navbar-default .navbar-nav > li > a:hover,
  .navbar-default .navbar-nav > li > a:focus {
      color: #FF6F00;
      background-color: transparent;
  }

  .navbar-default .navbar-nav > .active > a,
  .navbar-default .navbar-nav > .active > a:hover,
  .navbar-default .navbar-nav > .active > a:focus {
      color: #FF6F00;
      background-color: #212121;
  }

   .navbar-collapse {
     background: #57584f;
   }

   .li-style {
    color: #666;                                        // 修改全站的 字体主色
    font-size: 0.8em;
    a {                                                 // 所有a标签统一样式
      color: #666;                                      // 链接反转的样式
      transition: 0.5s;                                 // 鼠标移开时 0.5秒渐变
    }
    a:hover {
      color: #7f8c8d;
      transition: 0.5s;                                 // 鼠标指向时 0.5面渐变
      text-decoration: none;                            // 移除下划线
    }
  }

   //---------Footer---------

   .footer-style {
     position: absolute;
     bottom: 0;
     width: 100%;
     /* Set the fixed height of the footer here */
     background-color: #57584f;
     color: #EAEAEA;
     }

     .footer-style h5 {
       margin-top: 2em;
       font-size: 1.6em;
     }
     .footer-style-p {
       text-align: justify;
       line-height: 2em;
       letter-spacing: 0.1em;
     }



// ---商品展示列表----

    .container-fluid {
        padding-left: 0;
        padding-right: 0;
      }

    .productList {
     margin: 5em auto 3em;
     display: block;
     background-color: #f5f5f5;
     border-radius: 3px;
     box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
     transition: box-shadow .25s;
    }

    .productList:hover {
     box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    }

    .img-productList {

     width: 100%;
     height:200px;
     border-top-left-radius:5px;
     border-top-right-radius:5px;
     display:block;
     overflow: hidden;

    }

    .img-productList img{
     width: 100%;
     height: 200px;
     object-fit: cover;
     transition: all .25s ease;
    }

    .productList-content {
     padding:15px;
     text-align: center;
    }

    .productList-title {
     font-weight: 300;
     font-size: 1.8em;
     letter-spacing: 1em;
     line-height: 0.8em;
    }

    .productList-title a {
     color: #212121;
     text-decoration: none !important;
    }





     //---back to top---
      #gotop {
    width: 50px;
    height: 50px;
    position: fixed;
    right: 20px;
    bottom: 20px;
    background: none;
    cursor: pointer;
    display: none; /*默认先隐藏掉*/
    }


  //--- 登录页面  ----
  .log-page-bg {
    height: 1200px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url(https://ooo.0o0.ooo/2017/05/24/59250bb49d5a9.jpg)
    }

   .log-page {

    margin-top: 100px;
    color: #03151e;
    font-size: 20px;
    background-color: rgba(250, 250, 250, 0.69);//transparent;//背景颜色含透明度
    border-radius: 10px;
    padding-left: 40px;
    padding-right: 40px;
    }

    .form-inputs {

    margin-bottom: 0px;//这样就可以紧接息面的描述文字
    border-radius: 10px;
    padding-bottom: 10px;

    }

    .restfont{
    padding-bottom: 20px;
    }



    //---搜索--
    #custom-search-input {
        padding: 1px;
        border: solid 2px #e5e4e4;
        border-radius: 3px;
        background-color: #fff;
        margin-top: 9px;

    }

    #custom-search-input input {
        border: 0;
        box-shadow: none
    }

    #custom-search-input button {
        margin: 2px 0;
        background: none;
        box-shadow: none;
        border: 0;
        color: #666666;
        padding: 0 8px 0 10px;
        border-left: solid 1px #ccc
    }

    #custom-search-input button:hover {
        border: 0;
        box-shadow: none;
        border-left: solid 1px #ccc
    }

    #custom-search-input .glyphicon-search {
        font-size: 15px
    }

    /* 购物车*/

    .fa-shopping-cart {
      color: #EAEAEA;
      margin-right: 10px; /*右边距*/
    }


    //---------Box---------


      .box {
            background-image: image-url("header1.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            margin-bottom: 80px;
            padding-bottom: 50px;
            padding-top: 50px;
      }

      .box-inner {
          background-color: rgba(149, 149, 149, 0.69);

          margin-top: 100px;
          margin-bottom: 100px;
          width: 700px;
          border-radius: 20px;
          padding-left: 28px;

      }

      .title {
          text-align: center;
          margin-bottom: 45px;
          letter-spacing: 0.5em;                              //拉开一点点字间距
          font-weight:lighter;                                //字体粗细比默认样式缩小100磅值，让logo显得精致高级
          font-size: 3.0em;
          color: #d76363;
          line-height: 50px;
          margin-right: 40px;
      }

      .slogan {
               color: #d76363;
               letter-spacing: 1em;
               font-weight:lighter;
               font-size: 2.5em;
               margin-bottom: 35px;
               text-align: center;
               margin-right: 34px;

           }


      .lead {
          margin-bottom: 60px;
          text-align: center;
          color: white;
          width: 92%;
        }

        #lead-submit {

          width: 45%;
          letter-spacing: 0.5em;
          font-size: 1.2em;

        }


      //---------Content---------
       .content-section-title {
         text-align: center;

         letter-spacing: 0.5em;                              //拉开一点点字间距
         font-weight:lighter;                                //字体粗细比默认样式缩小100磅值，让logo显得精致高级
         font-size: 2.0em;
         color: #d76363;
         padding-bottom: 60px;
         padding-right: 35px;
       }

       .content-section-slogan {
         color: #d76363;
         letter-spacing: 1.4em;
         font-weight:lighter;
         font-size: 1.5em;
         margin-bottom: 60px;
         padding-top: 60px;
         text-align: center;

       }

      // .content-section {
      //  background-color: #EAEAEA;
      //  padding-bottom: 500px;
      //
      // }
      //
      // .content-section-pic {
      //   border-color: #EAEAEA;
      //   background-color: #EAEAEA;
      //   text-align: center;
      //
      //
      // }
      // .content-section-pic img{
      //   width: 70%;
      // }
      //
      // .caption{
      // margin-top: 40px;
      // font-size: 25px;
      // }
      //
      // .content-section-a {
      //     padding: 200px 0;
      //     background-color: #EAEAEA;
      //     border-top: 1px solid #D3D4D8;
      // }
      //
      // .content-section-b {
      //     background-color: #EAEAEA;
      //     padding: 200px 0;
      //     border-top: 1px solid #D3D4D8;
      //     border-bottom: 1px solid #D3D4D8;
      // }
      //
      // .section-heading-spacer {
      //     float: left;
      //     width: 200px;
      //
      // }
      //
      // .section-heading {
      //     margin-bottom: 30px;
      // }
      //
      // .lead {
      //     font-size: 18px;
      //     font-weight: 400;
      // }

      /*轮播图*/

      .carousel-BC1{
        //height: 111px;
        background: #190c07;
      }
      .carousel-BC2{
        //height: 111px;
        background-color: #190c07;
      }
      .carousel-BC3{
        //height: 111px;
        background-color: #190c07;
      }
      .carousel-BC4{
        //height: 111px;
        background-color: #190c07;
      }
