// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



//-- product/index产品列表样式 --//
.container-fluid {
    padding-left: 0;
    padding-right: 0;
  }

.productList {
 display: block;
 margin-bottom: 100px;
 line-height: 1.42857143;
 background-color: rgba(250, 250, 250, 0.69);
 border-radius: 3px;

 box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
 transition: box-shadow .25s;
}

.productList:hover {
 box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

.img-productList {

 width: 100%;
 height:200px;
 border-top-left-radius:5px;
 border-top-right-radius:5px;
 display:block;
 overflow: hidden;

}

.img-productList img{
 padding: 0px;
 width: 100%;
 height: 200px;
 border: 0px solid #ddd;
 object-fit: cover;
 transition: all .25s ease;
}

.productList-content {
 padding:15px;
 text-align:left;
}

.productList-title {
 margin-top:0px;
 font-weight: 700;
 font-size: 1.65em;
}

.productList-title a {
 color: #000;
 text-decoration: none !important;
}


/*排序*/
.orderList {
  margin: 40px auto;
  width: 1200px;
  overflow: hidden;
}
.orderList-item {
  float: left;
  width: 108px;
  height: 60px;
  line-height: 60px;
}

/*商品信息*/

.location {
	line-height: 40px;
  font-size: 20px;

}

.productDetail {
	width: 1200px;
	margin: 20px auto;
	height: 500px;
}

.productDetail-left {
	float: left; /*你去左边*/
	width: 600px;
	height: 500px;
}

.productDetail-left-bigImage {
	width: 580px;
	height: 400px;
}

.productDetail-left-imageList {
	margin-top: 15px;
}

.productDetail-left-imageList-item  {
	float: left; /*虽然我们是block元素，但是我们还是想在同一行呀，那就用float吧*/
	width: 150px;
	height: 100px;
	margin-right: 15px;
}

.productDetail-left-imageList-lastItem {
	margin-right: 0;
}

//--- 切换动图 ----
.preview {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }
  @media screen and (max-width: 1200px) {
    .preview {
      margin-bottom: 20px; } }

.preview-pic {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.preview-thumbnail.nav-tabs {
  border: none;
  margin-top: 15px; }
  .preview-thumbnail.nav-tabs li {
    width: 18%;
    margin-right: 2.5%; }
    .preview-thumbnail.nav-tabs li img {
      max-width: 100%;
      display: block; }
    .preview-thumbnail.nav-tabs li a {
      padding: 0;
      margin: 0; }
    .preview-thumbnail.nav-tabs li:last-of-type {
      margin-right: 0; }

  .tab-content {
  overflow: hidden; }
  .tab-content img {
    width: 100%;
    -webkit-animation-name: opacity;
            animation-name: opacity;
    -webkit-animation-duration: .3s;
            animation-duration: .3s; }

@-webkit-keyframes opacity {
  0% {
    opacity: 0;
    -webkit-transform: scale(3);
            transform: scale(3); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1); } }

@keyframes opacity {
  0% {
    opacity: 0;
    -webkit-transform: scale(3);
            transform: scale(3); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1); } }


//---商品细节上半部分右边---
.productDetail-right {
	float: right; /*你去右边*/
	width: 600px;
	height: 500px;
}

.intro-text {
	width: 600px;
}

.intro-text-desc {
	margin-top: 15px;
}

.intro-text-value {
	height: 10px;

}

.intro-text-service {
	height: 10px;

}

.intro-text-car {
  margin-top: 20px;
}

//--商品细节下半部分---

.productDecription {
	width: 1200px;
	margin: 50px auto;
	border: 1px solid #D8D8D8;
}

.productDecription-menuList {
	height: 50px;

}

.productDecription-menuList-item {
	float: left;
	width: 175px;
	height: 45px;
  line-height: 45px;
  border: 1px solid #D8D8D8;
  background: #EAEAEA;
  text-align: center;

}

.productDecription-content {
	width: 1000px;
	height: 500px;
	margin: 50px auto;
}

.productDecription-content-item {
  display: none;
  width: 1000px;
  height: 500px;
}
