// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.bg-color1 {
  background: #50514F;
}

.bg-color2 {
  background: #F25F5C;
}

.bg-color3 {
  background: #FFE066;
}

.bg-color4 {
  background: #247BA0;
}

.bg-color5 {
  background: #70C1B3;
}
.navbar {
  width: 100%; /*铺满*/
}
.navbarContent {
  width: 1200px; /*1200px，居中*/
  margin: 0 auto;
  height: 30px;
}
.navbarContent-left {
  float: left; /*你去左边*/
  width: 50%; /*你占一半的宽度*/
  height: 30px;
}
.navbarContent-right {
  float: right; /*你去右边*/
  width: 50%; /*你也占一半的宽度*/
  height: 30px;
}


/*头部*/
.header {
  width: 1200px;
  margin: 20px auto;
}
.headerContent {
  height: 60px;
}


.logo {
  float: left;
  width: 180px;
  margin-right: 180px;
}

.logo a {
  font-size: 30px; /*设置字体36px*/
  color: #C81623; /*红色*/
  text-decoration: none; /*不要下划线*/
}

.search {
  float: right; /*logo、seatch、cart这三个模块都是用div包起来的，是block元素，如果要处于同一行，那就要加float*/
  width: 400px;
  margin-left: 40px; /*右边距*/
  margin-top: 10px; /*上边距*/
  position: relative; /*相对定位*/
}

.search-input {
  width: 400px;
  height: 36px;
  line-height: 36px; /*设置行高，实现垂直居中，口诀「如果高度等于行高，那就实现了文本的垂直居中」*/
  color: #666;
  padding: 4px 20px; /*调一下上下左右边距*/
  border-width: 2px; /*边框宽度为2px*/
  border-color: #D32048; /*设置边框颜色为红色*/
  border-style: solid; /*设置为实线*/
  font-size: 14px; /*字体14px*/
  font-family: "microsoft yahei"; /*设置成微软雅黑字体*/
  border-radius: 20px; /*圆角20px*/
}

.search-button {
  width: 54px;
  height: 36px;
  border: none; /*去掉button默认的border*/
  background: none; /*去掉button默认的背景颜色*/
  font-family: "Microsoft YaHei";
  font-size: 16px;
  position: absolute; /*绝对定位*/
  cursor: pointer; /*鼠标一上去，显示手型*/
  top: 0;
  right: 0;
}

.search-button .fa-search {
  color: #d32048; /*搜索图标的颜色*/
}



.cart-wrap {
  float: right; /*logo、seatch、cart这三个模块都是用div包起来的，是block元素，如果要处于同一行，那就要加float*/
  margin-top: 10px; /*上边距*/
  margin-left: 238px; /*左边距*/
}

.cart {
  padding: 8px 20px; /*加内边距*/
  cursor: pointer; /*鼠标一上去，显示手型*/
  border: 1px solid #DFDFDF; /*1像素，实线，灰色*/
  background: #F5F5F5; /*灰色背景*/
  font-size: 12px; /*字体小一点好看*/
}

.fa-shopping-cart {
  color: #C81623; /*红色图标*/
  font-size: 16px; /*图标大一点好看*/
  margin-right: 10px; /*右边距*/
}

.cart a {
  color: #6D6D6D; /*灰色字体*/
  text-decoration: none; /*不要下划线*/
}

.cart a:hover {
  color: #C81623; /*鼠标一上去的时候，字体变成红色*/

}




/*菜单*/
.menu {
  width: 100%;
  background: #131418;
}

.menuList {
  width: 1400px;
  margin: 20px auto;
  height: 65px;
  line-height: 65px;
}

.menuList-item {
  float: left;
  width: 108px;
  height: 42px;
  margin-right: 30px;
}

.menu a {
  font-size: 20px;
  color: #FAFAFA; /*灰色字体*/
}
.menu a:hover {
  color: #C81623; /*鼠标一上去的时候，字体变成红色*/
  text-decoration: none; /*不要下划线*/
}


/*轮播图*/
.carousel {
  margin: 20px auto;
  width: 1200px;
  height: 400px;
}

/*排序*/
.orderList {
  margin: 20px auto;
  width: 1200px;
  overflow: hidden;
}
.orderList-item {
  float: left;
  width: 108px;
  height: 42px;
}

/*商品列表*/
.productList {
  margin: 20px auto;
  width: 1200px;
  overflow: hidden;
}
.productList-item {
  float: left;
  width: 228px;
  height: 250px;
  margin-right: 15px;
  margin-bottom: 15px;
}
.productList-lastItem {
  margin-right: 0;
}

.footer {
  margin-top: 20px;
  width: 100%;
  height: 83px;
}

//-- product/index产品列表样式 --//
.container-fluid {
    padding-left: 0;
    padding-right: 0;
  }

.row{
   padding-top:25px;
}


.card {
 display: block;
   margin-bottom: 50px;
   line-height: 1.42857143;
   background-color: #e1eadf;
   border-radius: 15px;
   box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
   transition: box-shadow .25s;
}
.card:hover {
 box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
.img-card {
 width: 100%;
 height:200px;
 border-top-left-radius:2px;
 border-top-right-radius:2px;
 display:block;
   overflow: hidden;
}
.img-card img{
 width: 100%;
 height: 200px;
 object-fit: cover;
 transition: all .25s ease;
}
.thumbnail {
  background-color: #e1eadf;
  border: 1px solid #e1eadf;
}
.card-content {
 padding:15px;
 text-align:left;
}
.card-title {
 margin-top:0px;
 font-weight: 700;
 font-size: 1.65em;
}
.card-title a {
 color: #000;
 text-decoration: none !important;
}
.card-read-more {
 border-top: 1px solid #D4D4D4;
}
.card-read-more a {
 text-decoration: none !important;
 padding:10px;
 font-weight:600;
 text-transform: uppercase
}
