
<footer class="footer-style">
<div class="container">
<div class="row  text-center">
    <div class="col-md-4 col-xs-4">
      <h4><strong>VIP会员</strong></h4>
      <p>加入会员</p>
      <p>付款流程</p>
    </div>
    <div class="col-md-4 col-xs-4">
      <h4><strong>用户指南</strong></h4>
      <p>常见问题</p>
      <p>帮助中心</p>
    </div>
    <div class="col-md-4 col-xs-4">
      <h4><strong>关于我们</strong></h4>
      <p>公司介绍</p>
      <p>联系方式</p>
    </div>
  </div>
</div>
</footer>
   <div id="gotop"><h2><strong>TOP</strong></h2></div>
